.resultsblock{
	width: 200px;
	height: 600px;
	background-color: #ccc;	
	float: right;
	box-shadow: 3px 3px 0 rgba( 33, 33, 33, 0.65);
}
.resualt{
	width: 100px;
	height: 30px;
	text-align: center;
	background-color: #ddd;	
	margin: 0 auto;
	color: #777;
	font-size: 20px;
	line-height: 30px;
	margin-top: 40px;
}